# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
venv/
.env

# ----------------------
# Terraform (CRÍTICO)
# ----------------------
.terraform/
*.tfstate
*.tfstate.*

# ----------------------
# AWS / Secrets
# ----------------------
*.pem
*.key